.background {
-fx-background-color: #006699;
}
.label {
-fx-font-size: 10pt;
-fx-font-family: "Arial Black";
-fx-text-fill: white;
-fx-opacity: 0.6;
}
.label-bright {
-fx-font-size: 15pt;
-fx-font-family: "Arial Black";
-fx-text-fill: #00aaff;
-fx-opacity: 1;
}
.label-header {
-fx-font-size: 20pt;
-fx-font-family: "Arial";
-fx-text-fill: #00aaff;
-fx-opacity: 1;
}
.table-view {
-fx-base: #006699;
-fx-control-inner-background: #006699;
-fx-background-color: #006699;
-fx-table-cell-border-color: transparent;
-fx-table-header-border-color: transparent;
-fx-padding: 5;
}
.table-view .column-header-background {
-fx-background-color: transparent;
}
.table-view .column-header, .table-view .filler {
-fx-size: 30;
-fx-border-width: 0 0 1 0;
-fx-background-color: transparent;
-fx-border-color:transparent transparent derive(-fx-base, 80%)transparent;
-fx-border-insets: 0 10 1 0;
}
.table-view .column-header .label {
-fx-font-size: 12pt;
-fx-font-family: "Arial";
-fx-text-fill: white;
-fx-alignment: center-left;
-fx-opacity: 1;
}
.table-view:focused .table-row-cell:filled:focused:selected {
-fx-background-color: -fx-focus-color;
}
.split-pane:horizontal > .split-pane-divider {
-fx-border-color: transparent #006699 transparent #006699;
-fx-background-color: transparent, derive(#006699,20%);
}
.split-pane {
-fx-padding: 1 0 0 0;
}
.menu-bar {
-fx-background-color: derive(#006699,20%);
}
.context-menu {
-fx-background-color: derive(#006699,50%);
}
.menu-bar .label {
-fx-font-size: 14pt;
-fx-font-family: "Arial";
-fx-text-fill: white;
-fx-opacity: 0.9;
}
.menu .left-container {
-fx-background-color: #006699;
}
.text-field {
-fx-font-size: 12pt;
-fx-font-family: "Arial Black";
}
/*
* Metro style Push Button
* Author: Pedro Duque Vieira
* http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
*/
.button {
-fx-padding: 5 22 5 22;
-fx-border-color:#0077b3;
-fx-border-width: 2;
-fx-background-radius: 0;
-fx-background-color: #006699;
-fx-font-family: "Arial", Helvetica, serif , sans-serif;
-fx-font-size: 11pt;
-fx-text-fill: #00aaff;
-fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.button:hover {
-fx-background-color: #004467;
}
.button:pressed, .button:default:hover:pressed {
-fx-background-color: white;
-fx-text-fill: #00aaff;
}
.button:focused {
-fx-border-color: white, white;
-fx-border-width: 1, 1;
-fx-border-style: solid, segments(1, 1);
-fx-border-radius: 0, 0;
-fx-border-insets: 1 1 1 1, 0;
}
.button:disabled, .button:default:disabled {
-fx-opacity: 0.4;
-fx-background-color: #006699;
-fx-text-fill: #00aaff;
}
.button:default {
-fx-background-color: -fx-focus-color;
-fx-text-fill: #ffffff;
}
.button:default:hover {
-fx-background-color: derive(-fx-focus-color,30%);
}